<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My Amazing Site{% endblock %}</title>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static "mystyle.css" %}" />
  
      <style>
    * {
        text-align : center;
    }
    p {
        padding-top:7px;
    }
    .table1 {
        position: absolute;       
        width : 150px;
        margin : 5px;
        left : 50%;
    }
    .table2 {
        position: absolute;
        width : 150px;
        margin : 5px;
        right : 50%;
    }

    </style>  
 
  </head>
  <body>


{% block contents %}
<br/>
<!-- KOREATECH Logo -->
<a href="http://www.koreatech.ac.kr" class="koreatech">
    <img src={% static 'images\signature4.png' %} width="320" height="150" algin="center">
</a>

<!-- Image -->
<table align="center">
    <tr>
        <td>
            <a>
            <img src="{% static 'images\Eun_A.jpg' %}" width="200"height="200"/>
             </a>
        </td>
        <td width="10"></td>
        <td>
            <a>
              <img src="{% static 'images\Seong_Hui.jpg' %}" width="200"height="200"/></a> 
        </td>
    </tr>
</table><br/>


<!-- Table -->
<table class="table1" border="2">
    <tr>
        <td><h5>이름</h5></td>
        <td><p>황성희</p></td>
    </tr>
    <tr>
        <td><h5>학번</h5></td>
        <td><p>2014180139</p></td>
    </tr>
    <tr>
        <td><h5>전공</h5></td>
        <td><p>산업경영학부</p></td>
    </tr> 
</table>

<table class="table2" border="2">
    <tr>
        <td><h5>이름</h5></td>
        <td><p>한은아</p></td>
    </tr>
    <tr>
        <td><h5>학번</h5></td>
        <td><p>2014180130</p></td>
    </tr>
    <tr>
        <td><h5>전공</h5></td>
        <td><p>산업경영학부</p></td>
    </tr> 
</table>

<br/><br/><br/><br/><br/><br/><br/>

<!-- Button -->
<center>
<a class="navbar" href="{% url 'blog:index' %}" ><font size = "6" color = "red">My Blog</font></a>
<a class="navbar" href="{% url 'admin:index' %}" ><font size = "4">Admin</font></a>
</center>

{% endblock %}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>